### AQA ###
**/*.idea
*/*target
*/*.iml
**/.DS_Store
qa/build

### STS ###
/dev/**/.apt_generated
/dev/**/.classpath
/dev/**/.factorypath
/dev/**/.project
/dev/**/.settings
/dev/**/.springBeans
/dev/**/.sts4-cache

### IntelliJ IDEA ###
/dev/**/*.iws
/dev/**/*.ipr

### NetBeans ###
/dev/nbproject/private/
/dev/nbbuild/
/dev/dist/
/dev/nbdist/
/dev/.nb-gradle/
/dev/build/

### Maven ###
/dev/.mvn/
/dev/mvnw
/dev/mvnw.cmd


# compiled output
/ui/dist
/ui/tmp
/ui/out-tsc

# dependencies
/ui/node_modules

# profiling files
/ui/**/chrome-profiler-events.json
/ui/**/speed-measure-plugin.json

# IDEs and editors
/ui/**/.project
/ui/**/.classpath
/ui/**/.c9/
/ui/**/*.launch
/ui/**/.settings/
/ui/**/*.sublime-workspace

# IDE - VSCode
/ui/**/.vscode/*
/ui/**/.history/*

# misc
/ui/.sass-cache
/ui/connect.lock
/ui/coverage
/ui/libpeerconnection.log
/ui/**/npm-debug.log
/ui/**/yarn-error.log
/ui/**/testem.log
/ui/typings

# System Files
/ui/**/.DS_Store
/ui/**/Thumbs.db

# Additions
/ui/e2e/
/ui/**/tslint.json
/ui/package-lock.json
/ui/.editorconfig
/ui/src/assets/
/ui/src/browserslist
/ui/src/test.ts


### Documentation ###
/documentation/*.aux
/documentation/*.bbl
/documentation/*.blg
/documentation/*.log
/documentation/*.out
/documentation/*.gz
/documentation/*.toc
