button {
    width: 200px;
}

td thead {
    border-bottom: 1px solid black;
}

td table {
    border: solid 1px black;
    border-collapse: collapse;
}

td tr td {
    width: 150px;
    border-right: 1px solid black;
}

.last {
    border-top: solid 1px black;
}

.hide {
    display: none;
}

input[type="number"] {
    width: 50px;
}


input[type="submit"] {
    width: 143px;
}